.navlink {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  .view-icons {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    width: 20px;
    visibility: visible;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    visibility: hidden;
  }

  a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
  }
}
