.navbar {
  margin: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  & .logo {
    & a {
      text-decoration: none;
      display: flex;
      padding: 10px;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;

      & h1 {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0;
      }

      & img {
        width: 30px;
        height: 30px;
        object-fit: contain;
      }
    }
  }

  & .nav-links {
    display: flex;
  }
}

@media (max-width: 40rem) {
  .navbar {
    & .logo {
      & a {
        padding: 0px;
        & h1 {
          font-size: 0;
        }
      }
    }
  }
}
