.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 10px;

  & .devs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & a {
      text-decoration: none;
    }

    & .contrib {
      font-size: 0.9rem;

      text-decoration: none;
    }

    & .dev-front {
      margin-top: 5px;
      font-size: 0.7rem;
    }
  }
}
