div img {
    display: block;
    background-color: #f0f0f0;
    min-width: 250px;
    min-height: 250px;
    max-height: 300px;
    max-width: 300px;
    object-fit: contain;
    border-radius: 10px;

}

div {
    display: flex;
    justify-content: center;
    margin: 0 5vw;
}

@media (max-width : 40rem) {
    div {
        display: flex;
        justify-content: center;
        margin: 5vw 5vw;

    }

}